* {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    width: 100%;
    height: 6vh;
    background-color: rgb(218, 218, 218);
}

body {
    width: 100%;
    height: 92vh;
}

.container {
    background-color: #539165;
    display: flex;
    height: 100%;
    justify-content: center;
}

.button {
    margin: 10px;
    align-self: center;
    background-color: #929292;
    width:  48px;
    height: 24px;
    border-radius: 40px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}

.button::before {
    position: absolute;
    content: '';
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 2px;
    transition: 0.2s;
}

input:checked + .button {
    background-color: #20096d;
}
input:checked + .button::before {
    transform: translateX(24px);
}
input {
    display: none;
}

.menu-button {
    background-color: #EA5455;
    border: 4px solid #002B5B;
    width: 280px;
    height: 64px;
    border-radius: 16px;
    font-size: 32px;
    cursor: pointer;
    transition: all 0.1s;
    color: white;
}
.menu-button:hover {
    background-color: #002B5B;
    transform: scale(1.02);
}
.menu-button:active {
    transform: scale(0.98);
    background-color: #001937;
}


.menu {
    display: grid;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 420px;
    height: 500px;
    background-color: #F9F5EB;
    border-radius: 16px;
}
