* {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    width: 100%;
    height: 6vh;
    background-color: rgb(218, 218, 218);
    
}

body {
    width: 100%;
    height: 92vh;
}

.container {
    background-color: #539165;
    display: flex;
    height: 100%;
    justify-content: center;
}

.button {
    margin: 10px;
    align-self: center;
    background-color: #929292;
    width:  48px;
    height: 24px;
    border-radius: 40px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}

.button::before {
    position: absolute;
    content: '';
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 2px;
    transition: 0.2s;
}

input:checked + .button {
    background-color: #20096d;
}
input:checked + .button::before {
    transform: translateX(24px);
}
#check {
    display: none;
}

.menu-button {
    background: linear-gradient(180deg, rgb(214, 117, 117) 20%,#EA5455 80%);
    border-top: none;
    border-left: none;
    border-bottom: 10px solid #a93a3a;
    border-right: 10px solid #a93a3a;
    width: 280px;
    height: 64px;
    border-radius: 16px;
    font-size: 32px;
    cursor: pointer;
    transition: all 0.1s;
    color: white;
    font-family: 'Bebas Neue', cursive;
    -webkit-box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.13);
    -moz-box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.13);
    box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.13);
}
.menu-button:hover {
}
.menu-button:active {
    background-color: #EA5455;
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transform: scale(0.98);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.menu {
    display: grid;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 420px;
    height: 500px;
    background-color: #F9F5EB;
    border-radius: 16px;
    -webkit-box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.13);
    -moz-box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.13);
    box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.13)
}

.nickname-tag {
    justify-self: center;
    font-size: 32px;
    font-family: 'Bebas Neue', cursive;
}

.nickname-input {
    text-align: center;
    height: 50px;
    font-size: 24px;
    border-radius: 16px;
    border: none;
    font-family: 'Bebas Neue', cursive;
}
